@charset "utf-8";
/* CSS Document */

.container {
  width: 100%;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.post-block {
  width: 80%;
  margin: 0 auto;
}

.profile-pic {
  height: 55px;
  width: 55px;
  float: left;
}

.post-article-block {
  border: 1px solid #999;
  border-radius: 5px;
}